.secao_banner {
  width: 100%;
  background-image: url('../../assets/banner-mobile.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.secao_banner .container_infos {
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 18rem 1.5rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;
  text-align: center;
}

.secao_banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 8rem;
  margin-bottom: 1rem;
}

.secao_banner p {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  .secao_banner {
    background-image: url('../../assets/banner-desktop.jpg');
  }
}

@media (max-width: 480px) {
  .secao_banner h1 {
    font-size: 3rem;
  }

  .secao_banner p {
    font-size: 1.6rem;
  }
}
