<header class="header">
  <a routerLink="/home" ariaCurrentWhenActive="page">
    <h2 class="logo">VS</h2>
  </a>
  <nav class="menu">
    <ul>
      <li>
        <a
          class="btn-toggle-page"
          routerLink="/home"
          routerLinkActive="active-button"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          class="btn-toggle-page"
          routerLink="/projects"
          routerLinkActive="active-button"
          ariaCurrentWhenActive="page"
          >Meus projetos</a
        >
      </li>
    </ul>
  </nav>
</header>
