.footer {
  width: 100%;
  background-color: var(--my-dark-blue);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-color-white);
}

.copy::selection {
  background-color: var(--my-green);
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .copy {
    text-align: center;
  }
}
