@import "../../../styles/variables.scss";

.linkedin-icon {
  width: 5.5rem;
  height: 5.5rem;
  fill: $primary-svg;
  transition: 0.3s;
  border: 0.1rem solid #ffffff;
  border-radius: 50%;
  padding: 1rem;
}

.linkedin-icon:hover {
  fill: $primary-hover;
  border: 0.1rem solid $primary-hover;
  transform: scale(1.1);
}
