.card_projeto {
  position: relative;
  flex: 1 1 21.5rem;
  height: 30.9rem;
  box-shadow: 1px 2px 10px 1px #808080;
  border-radius: 1rem;
  overflow: hidden;
}

.card_projeto .imagem_projeto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card_projeto .links {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #000000cc;
}

.card_projeto a {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: var(--background-primario);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .card_projeto h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    background-color: #000000cc;
    transition: 0.3s ease-in-out;
  }

  .card_projeto:hover h3 {
    opacity: 0;
  }

  .card_projeto .links {
    opacity: 0;
    transition: 0.3s ease-in;
  }

  .card_projeto:hover .links {
    opacity: 1;
  }
}
