.container_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container_links .link_contato {
  padding: 1rem;
  border: 0.1rem solid var(--borda-cor-primaria);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.container_links .icone {
  font-size: 3rem;
  fill: var(--cor-texto-primaria);
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .container_links .link_contato:hover {
    border: 0.1rem solid var(--hover-cor-primaria);
    transform: scale(1.1);
  }

  .container_links .icone:hover {
    fill: var(--hover-cor-primaria);
  }
}

@media (max-width: 480px) {
  .container_links .link_contato {
    padding: 0.5rem;
  }

  .container_links .icone {
    font-size: 2rem;
  }
}
